html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a3ee2;
}

.visible {
    display: block !important;
}

@font-face {
    font-family: 'ProximaNova-BoldIt';
    src: url('../fonts/ProximaNova-BoldIt.eot');
    src: url('../fonts/ProximaNova-BoldIt.eot') format('embedded-opentype'),
    url('../fonts/ProximaNova-BoldIt.woff') format('woff'),
    url('../fonts/ProximaNova-BoldIt.ttf') format('truetype'),
    url('../fonts/ProximaNova-BoldIt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

p {
    text-indent: 1.5em;
}

h3, p, a {
    font-family: ProximaNova-BoldIt, serif;
}

p, h1, h2, h3, h4, h5, h6 {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/******************************************
* Видео фон
*******************************************/
iframe {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border: 0;
    overflow: hidden;
    z-index: -1;
}

/******************************************
* Navbar
*******************************************/
nav {
    background-color: #545454;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.icon-bar {
    background-color: white !important;
}

.navbar-nav > li > a {
    color: white !important;
    font-family: ProximaNova-BoldIt, serif;
}

.navbar-nav > li > a > p {
    margin: 0;
}

.navbar-nav > li > a:hover {
    background-color: transparent;
}

.navbar-nav > li > a:not( :hover ) {
    background-color: transparent;
}

.navbar-brand {
    color: white !important;
    margin-top: 15px;
}

.choice {
    position: absolute;
    display: none;
    width: 28px;
    height: 28px;
}

/******************************************
* Карусель
*******************************************/
.dg-carousel {
    margin-top: 100px;
}

.dg-slide-window {
    overflow: hidden;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #545454;
    border: 1px solid black;
}

.dg-slide-container {
    width: 9999px;
    height: 300px;
    font-size: 0
}

.dg-slides-margin-transition {
    transition-property: margin-left;
    transition-duration: 1s;
}

.dg-slide {
    /*border: 1px solid black;*/
    width: 1000px;
    height: 300px;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    background-color: white;
}

.dg-prev-slide, .dg-next-slide {
    position: absolute;
    cursor: pointer;
    display: none;
}

/******************************************
* Медиа запросы
*******************************************/
@media (max-width: 767px) {

    .choice {
        top: 5px;
        width: 20px;
        height: 20px;
        left: 90px;
    }

    .collapse {
        margin-top: 0;
    }

    .navbar-nav > li > a {
        font-size: 14px;
    }

    .navbar-brand {
        margin-top: 0;
    }

    .dg-carousel {
        margin-top: 10px;
    }

    .dg-slide-window {
        margin-left: 50px;
    }
}

@media (min-width: 768px) {

    .choice {
        top: -15px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .collapse {
        margin-top: 30px;
    }

    .navbar-nav > li {
        text-align: center;
    }

    .navbar-nav > li > a {
        font-size: 18px;
    }

    .navbar-nav > li > a:hover {
        font-size: 20px;
    }
}

@media (max-width: 1130px) {
    .dg-carousel {
        margin-top: 50px;
    }

    .dg-slide-window {
        width: 800px;
    }

    .dg-slide {
        width: 800px;
    }
}

@media (max-width: 902px) {
    .dg-slide-window {
        width: 600px;
    }

    .dg-slide {
        width: 600px;
    }
}